* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #818181;
  font-family: 'Roboto', sans-serif;
  /* font-weight: 600; */
  font-size: 18px;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}


.pink_button {
  padding: 0px 10px;
  border-radius: 25px;
  background-color: #eb008d;
  color: white;
}


.container {
  width: 90%;
  margin: auto;
  height: 100vh;

}

header {
  margin-top: 20px;
  height: 50px;
}

.header_nav ul.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_nav ul.nav_list > li{
  list-style: none;
  position: relative;
  line-height: 50px;
}

ul.nav_list li img {
  height: 30px;
}

/* per formattare i box dropdown */
ul.nav_list li ul {
  display: none;
  box-shadow: 1px 1px 4px 0px rgb(201, 201, 201);
  position: absolute;
  top: 50px;
  left: -130px;
  padding: 10px 20px;
  text-align: center;
  /* max-width: 300px; */
}

ul.nav_list li ul li {
  padding: 10px 0;
  min-width: 300px;
  list-style: none;
}

.d_none {
  display: none;
}

ul.nav_list li ul.active {
  display: block;
}

ul.nav_list li:nth-child(2).t_black,
ul.nav_list li:nth-child(3).t_black,
ul.nav_list li:nth-child(4).t_black {
  color: black;
}


ul.nav_list li a.t_black {
  color: black;
}


/* <i class="fas fa-chevron-down"></i> */
/* <i class="fas fa-chevron-up"></i> */
